In [5]:
import pandas as pd
df=pd.read_csv("final_df.csv")
df.head()

,Unnamed: 0,Education,Marital_Status,Income,Recency,Complain,Response,Age,Children,Total_spent,Total_no_purchase,TotalAcceptedCmp,km_clust
0,0,3,0,58138.0,58,0,1,64,0,1617,25,1,3
1,1,3,0,46344.0,38,0,0,67,2,27,6,0,1
2,2,3,1,71613.0,26,0,0,56,0,776,21,0,3
3,3,3,1,26646.0,26,0,0,37,1,53,8,0,1
4,4,2,1,58293.0,94,0,0,40,1,422,19,0,0

In [6]:
df=df.drop(columns="Unnamed: 0",axis=1)
df.head()

,Education,Marital_Status,Income,Recency,Complain,Response,Age,Children,Total_spent,Total_no_purchase,TotalAcceptedCmp,km_clust
0,3,0,58138.0,58,0,1,64,0,1617,25,1,3
1,3,0,46344.0,38,0,0,67,2,27,6,0,1
2,3,1,71613.0,26,0,0,56,0,776,21,0,3
3,3,1,26646.0,26,0,0,37,1,53,8,0,1
4,2,1,58293.0,94,0,0,40,1,422,19,0,0

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X= df.iloc[:,:-1]
y=df.iloc[:,-1]

In [9]:
X.head()

,Education,Marital_Status,Income,Recency,Complain,Response,Age,Children,Total_spent,Total_no_purchase,TotalAcceptedCmp
0,3,0,58138.0,58,0,1,64,0,1617,25,1
1,3,0,46344.0,38,0,0,67,2,27,6,0
2,3,1,71613.0,26,0,0,56,0,776,21,0
3,3,1,26646.0,26,0,0,37,1,53,8,0
4,2,1,58293.0,94,0,0,40,1,422,19,0

In [10]:
y

0       3
1       1
2       3
3       1
4       0
       ..
2211    0
2212    0
2213    3
2214    0
2215    1
Name: km_clust, Length: 2216, dtype: int64

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,y_train)

RandomForestClassifier()

In [14]:
y_pred=clf.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
accuracy_score(y_test,y_pred)

0.9413533834586466

In [17]:
import pickle
#filename= r"D:\Data_Science\DS_Project\P76_deployment/Classifier.sav"
pickle_out = open("classifier.pkl","wb")
pickle.dump(clf,pickle_out)
pickle_out.close()